body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    color: #fff;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-bar img {
    width: 24px;
    height: 24px; 
    object-fit: contain;
}

.banner {
    background-image: url('https://miro.medium.com/v2/resize:fit:1170/1*SxMvHbycirKpgoG0UBBIBQ.jpeg');
    background-size: cover;
    background-position: center; 
    padding: 50px; 
    color: white; 
    height: 200px; 
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner-content {
    max-width: 50%; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
}

.banner-content h2 {
    margin: 0;
    font-size: 24px;
    color: #0fc1b7;
}

.banner-image img {
    background-position: center;
    width: 200px;
    height: 160; 
    border-radius: 8px;
    object-fit: cover;
    text-align: center;
    margin: 15px;
    
}

main {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 25%;
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 8px;
}

.sidebar .tabs {
    display: flex;
    flex-direction: column;
}

.sidebar .tabs h4 {
    background-color: #0fc1b7;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 4px;
}


.item-list {
    margin-top: 20px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    flex-direction: column;
}

.item img {
    width: 150px;
    height: 225px;
    margin-bottom: 10px; 
    object-fit: cover; 
    border-radius: 8px;
    width: 150px;
    height: 225px;
    margin-bottom: 10px; 
    object-fit: cover; 
    border-radius: 8px;
}

.main-content {
    width: 75%;
    padding: 15px;
    background-color: #2a2a2a;
    margin-left: 20px;
    border-radius: 8px;
}

.section-block {
    margin-bottom: 20px;
    margin-top: 30px;
}
.recommended {
margin-top: 155px;
}

.section-block h2, .section-block h3 {
    margin: 0 0 10px 0;
}

.section-block button {
    background-color: #0fc1b7;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    margin-right: 10px;
}

.ranking .tabs {
    display: flex;
    margin-bottom: 10px;
}


.rank-list {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    width: 90%; /* Ajuste conforme o layout */
}

.rank-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
 

.scroll-buttons {
    position: relative;
    display: flex;
    align-items: center;
}

.scroll-buttons button {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

.recommended-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 83px; 
}


.rank-item, .recommended-book {
    width: 24%;
    text-align: center;
    flex: 0 0 auto; /* Faz com que os itens não encolham e mantenham seu tamanho */
    margin-right: 20px; /* Espaçamento entre os itens */
    text-align: center;
}

.rank-item img, .recommended-book img {
    margin-top: 22px;
    width: 100%;
    width: 150px;
    height: 225px;
    border-radius: 8px;
    width: 150px;
    height: 225px;
    border-radius: 8px;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}